header{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5%;
	#logo{
		width: 5%;
		margin-right: 30%;
	}
	p{
		border: 2px solid black;
		margin-right: 25%;
		padding-right: 5%;
	}
	h2{
		font-size: 1.2rem;
		margin-right: 2%;
	}
}